/* * {
    outline: 1px solid red;
} */

:root {
    --white: #fff;
    --yellow: #ffd049;
    --light-yellow: #fdf2d2;
    --orange: #ffa929;
    --light-gray: #6B6B6B;
    --gray: #71738b;
    --light-blue: #7a7c93;
    --blue: #43A4FF;
    --slider-handle-size: 36px;
    --slider-height: 36px;
    --slider-handle-border-radius: 50%;
    --slider-handle-margin-top: -6px;
    --slider-track-height: 18px;
    --slider-track-border-radius: 45px;
}

#wrapper {
    padding-top: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 14px;
}

#sliderContainer {
    width: 100%;
    max-width: 420px;
    z-index: 0;
}

.tick-slider-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.tick-slider-header>h5 {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: var(--gray);
}

.tick-slider {
    position: relative;
    width: 100%;
}

.tick-slider-value-container {
    bottom: 40px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: var(--gray);
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: red;
    pointer-events: none;
}

@media (max-width: 767px) {
    .tick-slider-value-container {
        width: 100%;
        margin: 0;
    }
}

.tick-slider-value {
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: var(--white);
    border-radius: var(--slider-handle-border-radius);
}

.tick-slider-value>div {
    animation: bulge 0.3s ease-out;
}

.tick-slider-background,
.tick-slider-progress,
.tick-slider-tick-container {
    position: absolute;
    top: 11px;
    left: 0;
    height: var(--slider-track-height);
    pointer-events: none;
    border-radius: var(--slider-track-border-radius);
    z-index: -1;
}

.tick-slider-background {
    width: 100%;
    background-color: #6D6D6D;
}

.tick-slider-progress {
    background-color: var(--blue);
}

.tick-slider:hover .tick-slider-progress {
    background-color: var(--blue);
}

.tick-slider-tick-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(var(--slider-handle-size) / 2);
}

.tick-slider-tick {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: white;
}

.tick-slider-label {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    border-radius: 50%;
    background: #6D6D6D;
    border: 1px solid #3F3F3F;
    opacity: 1;
    transition: opacity 0.1s ease;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.tick-slider-label:first-child {
    background: #43A4FF;
    border: 1px solid #43A4FF;
}

.tick-slider-label.hidden {
    opacity: 0;
}

@keyframes bulge {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


/*  REMOVE SLIDER STYLE DEFAULTS  */

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: transparent;
    position: relative;
    background: transparent;
    border: none;
    line-height: var(--slider-height);
    height: var(--slider-height);
    padding: 0;
    margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-moz-focus-outer {
    border: 0;
}


/*  HANDLE  */

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: var(--slider-handle-size);
    height: var(--slider-handle-size);
    background: url("../img/tick-slider.svg") no-repeat center/cover;
    border-radius: var(--slider-handle-border-radius);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.65);
    cursor: pointer;
    margin-top: var(--slider-handle-margin-top);
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
    z-index: 10;
}

.tick-slider:hover input[type="range"]::-webkit-slider-thumb,
.tick-slider:focus input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: var(--slider-handle-size);
    height: var(--slider-handle-size);
    background: url("../img/tick-slider.svg") no-repeat center/cover;
    border-radius: var(--slider-handle-border-radius);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.65);
    cursor: pointer;
    margin-top: var(--slider-handle-margin-top);
    transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:focus::-webkit-slider-thumb {
    /* transform: scale(1.2); */
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    width: var(--slider-handle-size);
    height: var(--slider-handle-size);
    background: rgb(96, 94, 92);
    border-radius: var(--slider-handle-border-radius);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.65);
    cursor: pointer;
    margin-top: var(--slider-handle-margin-top);
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:focus::-moz-range-thumb {
    transform: scale(1.2);
}

.tick-slider:hover .tick-slider-background,
.tick-slider:focus .tick-slider-background {
    background-color: #6D6D6D;
}


/*  TRACK   */

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--slider-track-height);
    cursor: pointer;
    background: none;
    border-radius: var(--slider-track-border-radius);
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: var(--slider-track-height);
    cursor: pointer;
    background: none;
    border-radius: var(--slider-track-border-radius);
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: none;
}

input[type="range"]:active::-webkit-slider-runnable-track {
    background: none;
}


/* Services classes. */


/* font-family: 'Roboto', sans-serif; */

.visually-hidden:not(:focus):not(:active) {
    /* Class for accessible hiding of elements. */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
}

.container {
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 12px;
}

.spacer {
    width: 100%;
    box-sizing: border-box;
}

.spacer--70 {
    padding: 35px 0;
}

.spacer--64 {
    padding: 32px 0;
}

.spacer--52 {
    padding: 26px 0;
}

.spacer--48 {
    padding: 24px 0;
}

.spacer--40 {
    padding: 20px 0;
}

.spacer--32 {
    padding: 16px 0;
}

.spacer--22 {
    padding: 11px 0;
}

.spacer--20 {
    padding: 10px 0;
}

.spacer--24 {
    padding: 12px 0;
}

.spacer--16 {
    padding: 8px 0;
}

.spacer--14 {
    padding: 7px 0;
}

.divider {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
}

.divider--full {
    padding: 12px 0;
}

.divider__inner {
    box-sizing: border-box;
    width: 100%;
    height: 1px;
}

.divider__inner--dark {
    background-color: #3F3D49;
}

.divider__inner--grey {
    background-color: #e5e5e5;
}

.dimensional-container {
    padding: 16px;
}

.dimensional-container a:last-child {
    margin-right: 0;
}

@media(max-width: 767px) {
    .dimensional-container a:last-child {
        margin-right: 16px;
    }
}

@media(max-width: 599px) {
    .container {
        padding: 0 8px;
    }
    .divider {
        padding: 8px;
    }
    .divider--full {
        padding: 8px 0;
    }
    .dimensional-container {
        padding: 8px 16px;
    }
}


/* Typography */

.page {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6875em;
    color: #4C4B51;
}

.page.fixed {
    overflow: hidden;
}

.page.fixed .header {
    backdrop-filter: none;
}

.main {
    padding-top: 72px;
}

.page__main {
    overflow: hidden;
    padding-top: 72px;
}

h1 {
    margin: 0;
    padding: 16px;
    font-size: 3.75em;
    font-weight: 100;
    line-height: 1.2em;
}

h2 {
    margin: 0;
    padding: 16px;
    font-size: 2.8125em;
    font-weight: 100;
    line-height: 1.2em;
}

h3 {
    margin: 0;
    padding: 16px;
    font-size: 2.1875em;
    font-weight: 100;
    line-height: 1.2em;
}

h4 {
    margin: 0;
    padding: 16px;
    font-size: 1.875em;
    font-weight: 300;
    line-height: 1.2em;
}

h5 {
    margin: 0;
    padding: 16px;
    font-size: 1.375em;
    font-weight: 600;
    font-style: normal;
    line-height: 1.1em;
}

h6 {
    margin: 0;
    padding: 16px;
    font-size: 1.125em;
    font-weight: 600;
    font-style: normal;
    line-height: 1.125em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0px;
}

.title-line {
    position: relative;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5em;
}

.title-line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 12px;
    width: 50px;
    height: 3px;
    background-color: #43A4FF;
}

p {
    margin: 0;
    padding: 16px;
}

strong,
b {
    font-weight: bold;
    color: #292734;
}

i,
em {
    font-style: italic;
    color: #292734;
}

.centered-text {
    text-align: center;
}

@media (max-width: 599px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        padding: 8px;
    }
    h1 {
        font-size: 2.8125em;
    }
    h2 {
        font-size: 2.109em;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 56px;
        text-align: center;
        color: #000000;
    }
    h3 {
        font-size: 2.109em;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        color: #000000;
    }
    h4 {
        font-size: 1.406em;
    }
    h5 {
        font-size: 1.031em;
    }
    h6 {
        font-size: 0.84375em;
    }
    .title-line {
        font-size: 14px;
    }
}


/* Default + custom lists. */

ul,
ol {
    margin: 0;
    padding: 12px 12px 12px 1.5em;
    line-height: 34px;
}

@media (max-width: 599px) {
    ul,
    ol {
        padding: 8px 8px 8px 1.5em;
    }
}


/* .yellow-list {
    list-style: none;
    padding-left: 12px;
}

.yellow-list li {
    position: relative;
    padding-left: 16px;
}

.yellow-list li::before {
    content: '';
    position: absolute;
    top: 14px;
    left: 0;
    display: block;
    width: 5px;
    height: 5px;
    background-color: #43A4FF;
    border-radius: 50%;
} */


/* .list-checkbox {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    font-size: 0;
}

.list-checkbox li {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    font-size: 18px;
    padding: 8px 15px 8px 47px;
}

@media (max-width: 319px) {
    .list-checkbox li {
        font-size: 16px;
    }
}

.list-checkbox li::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 15px;
    display: block;
    width: 25px;
    height: 25px;
    background-image: url("../img/check-circle.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 599px) {
    .list-checkbox li {
        width: 100%;
    }
} */


/* .dropcards-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.dropcards-list li {
    box-sizing: border-box;
    width: 25%;
    padding: 0 4px;
}

.dropcards-list__text::before {
    content: "";
    display: block;
    float: left;
    margin-right: 16px;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    font-weight: 400;
}

.dropcards-list li:nth-child(2n) .dropcards-list__text::before {
    color: #FFFFFF;
    background-color: #43A4FF;
}

.dropcards-list li:nth-child(2n+1) .dropcards-list__text::before {
    color: #FFFFFF;
    background-color: #292734;
}

@media (max-width: 1279px) {
    .dropcards-list li {
        width: 50%;
    }
}

@media (max-width: 599px) {
    .dropcards-list li {
        padding: 0;
        width: 100%;
    }
} */


/* Buttons, links. */

.dimensional-container {
    display: flex;
}

@media (max-width: 767px) {
    .dimensional-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

.dimensional-container .button {
    margin-right: 23px;
    margin-bottom: 24px;
}

@media (max-width: 767px) {
    .dimensional-container .button {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 24px;
    }
    .dimensional-container.dimensional-container--left {
        align-items: flex-start;
    }
}

.button {
    box-sizing: border-box;
    display: inline-block;
    padding: 11px 10px 10px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease, background-position 0.3s ease, background-color linear 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 236px;
    height: auto;
    background: #43A4FF;
    border: 1px solid transparent;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button--226 {
    max-width: 226px;
}

.button svg {
    margin-right: 12px;
    flex: 0 0 auto;
}

.button--small {
    padding: 1.5em;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
    color: #FFFFFF;
    background: linear-gradient(to right, #7f7d85 0%, #7f7d85 100%) no-repeat scroll right bottom / 210% 101%;
    cursor: default;
}

.button--blue {
    border: 1px solid transparent;
    color: #fff;
    background: #43A4FF;
    line-height: 25px;
}

.button--blue:hover {
    border: 1px solid rgba(67, 164, 255, 0.6);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), #43A4FF;
    color: #fff;
}

.button--blue:active {
    border: 1px solid rgba(67, 164, 255, 0.6);
    color: #fff;
}

.button--blue:focus {
    border: 1px solid rgba(67, 164, 255, 0.6);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), #43A4FF;
    outline: none;
}

.button--blue:focus:not(:focus-visible) {
    border: 1px solid rgba(67, 164, 255, 0.6);
    box-shadow: none;
    outline: none;
}

.button--blue:focus-visible {
    border: 1px solid rgba(67, 164, 255, 0.6);
    color: #FFFFFF;
    background-position: left bottom;
    box-shadow: 0 0 0 2px #292734 inset, 0 0 0 3px #FFFFFF inset;
    outline: none;
}

.button--white {
    background: #FFFFFF;
    border: 1px solid #43A4FF;
    box-sizing: border-box;
    border-radius: 6px;
}

.button-img {
    justify-content: flex-start;
}

.button-img img {
    padding: 0 23px;
}

.button-img:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.button--white:hover {
    color: #4F4F4F;
    background: linear-gradient(0deg, rgba(67, 164, 255, 0.08), rgba(67, 164, 255, 0.08)), #F4FAFF;
    border: 1px solid #E6E6E6;
}

.button--white:focus {
    color: #4F4F4F;
    background: linear-gradient(0deg, rgba(67, 164, 255, 0.16), rgba(67, 164, 255, 0.16)), #F4FAFF;
    border: 1px solid #E6E6E6;
}

.button--white:focus:not(:focus-visible) {
    box-shadow: none;
    outline: none;
}

.button--white:focus-visible {
    color: #4F4F4F;
    box-shadow: 0 0 0 1px #FFFFFF inset, 0 0 0 3px #383642 inset, 0 0 0 4px #FFFFFF inset;
    outline: none;
}

.btn-dropdown {
    width: 32px;
    height: 32px;
    background: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.btn-dropdown:hover {
    background: rgba(67, 164, 255, 0.08);
}

.btn-dropdown:focus {
    background: rgba(67, 164, 255, 0.16);
}

.link.main-menu__link--footer {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    padding: 2px 4px;
    text-decoration: none;
}

.link.main-menu__link--footer:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), #F5F5F5;
}

.link.main-menu__link--footer:active {
    color: #000;
}

.link.main-menu__link--footer:focus {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), #F5F5F5;
}

.burger__button {
    padding: 8px;
    border: none;
    background: #fff;
    border-radius: 6px;
    background: #fff;
    font-size: 0;
}

.burger__button:hover {
    background: rgba(67, 164, 255, 0.08);
}

.burger__button:focus {
    background: rgba(67, 164, 255, 0.16);
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    max-width: 200px;
    border-radius: 6px;
    position: relative;
    top: 1px;
    padding-left: 8px;
}

.info:hover {
    background: rgba(67, 164, 255, 0.08);
}

.info:focus {
    background: rgba(67, 164, 255, 0.16);
}

.button--transparent {
    color: #43A4FF;
    background: #F4FAFF;
    border: 1px solid #43A4FF;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 15px;
}

.button--transparent:hover {
    color: #43A4FF;
    background: linear-gradient(0deg, rgba(67, 164, 255, 0.08), rgba(67, 164, 255, 0.08)), #F4FAFF;
    border: 1px solid #43A4FF;
}

.button--transparent:active {
    color: #43A4FF;
    background: #F4FAFF;
}

.button--transparent:focus {
    background: linear-gradient(0deg, rgba(67, 164, 255, 0.16), rgba(67, 164, 255, 0.16)), #F4FAFF;
    border: 1px solid #43A4FF;
    box-sizing: border-box;
    border: 1px solid #43A4FF;
    outline: none;
}

.button--transparent:focus:not(:focus-visible) {
    box-shadow: none;
    outline: none;
}

.button--transparent:focus-visible {
    color: #fff;
    background-position: left bottom;
    box-shadow: 0 0 0 2px #43A4FF inset, 0 0 0 3px #292734 inset;
    outline: none;
}

.button--white-text {
    color: #FFFFFF;
}

.link__wrap {
    padding: 10px 16px;
}

@media (max-width: 767px) {
    .link__wrap .btn {
        margin: 0 auto;
    }
}

.link__wrap a {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: max-content;
    margin-top: 15px;
}

.link__wrap svg {
    margin-left: 10px;
}

.link {
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #43A4FF;
    padding: 2px 4px;
    border-radius: 4px;
}

.link:hover {
    background: rgba(67, 164, 255, 0.08);
}

.link:active {
    color: #43A4FF;
}

.link--blue {
    color: #43A4FF;
}

.link--blue:hover {
    background: rgba(67, 164, 255, 0.08);
    color: rgba(67, 164, 255, 0, 08);
}

.link--blue:focus {
    background: rgba(67, 164, 255, 0.16);
    color: rgba(67, 164, 255, 0, 16);
}

.link--blue:focus:not(:focus-visible) {
    outline: none;
}

.link--blue:focus-visible {
    outline: 1px solid #43A4FF;
}

h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}

h2 span {
    color: #43A4FF;
}


/* header */


/* 
We can arrange all menu items in one row using float, but they will be nailed to the left. Last element have to be a "clearfix".
You can also try to make a grid using inline and nail the elements to different sides (set for .header__container "text-align: right", and set for logo "position: absolute" and "left: 0"), but there are several problems:
- it will not be possible to set vertical indents to elements, because they have an inline model;
- internal elements cannot have a block model;
- if the screen becomes too narrow, the elements will overlap the logo;

In this way, we will create more problems than we solve. Therefore, here I am using float property.
*/


/* containers */

.header__container {
    padding: 8px 16px;
    /* must be equal to .main-menu__link padding */
}


/* logo */

.header__logo {
    float: left;
}

.main-menu {
    margin: 0;
}

@media (max-width: 599px) {
    .main-menu.contact {
        padding-top: 33px;
    }
}

.logo a {
    display: block;
    padding: 8px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.logo a img {
    display: block;
    /* normalize geometry img inside a */
}


/* main-menu */

.header__dropdown-container {
    margin-top: 8px;
    /* We set a margin-top to align the menu in the center - for this you need to know the size of the largest element in advance. We have logo, so  can afford it. */
    float: right;
}

.burger {
    display: none;
}

.header__main-menu-container {
    float: left;
}

.header__phone-block {
    float: left;
}

.header__phone-block a {
    display: block;
    float: left;
    padding: 8px 12px;
}

.header__phone-block a {
    display: inline-block;
}

.header__cta {
    float: left;
}

.main-menu {
    padding: 8px 0px;
    /* We make top/bottom padding, because lists items is inline, and there don't work vertical padding, only horizontal: https://developer.mozilla.org/en-US/docs/Web/CSS/padding-inline */
}

.main-menu__item {
    padding: 0px;
    margin: 0px 16px;
    display: inline;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (max-width: 1279px) {
    .main-menu__item {
        padding: 0px;
        margin: 0px;
        display: inline;
        position: relative;
    }
}

.main-menu__item.active .main-menu__link {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #43A4FF;
}

@media (max-width: 1279px) {
    .main-menu__item.active .main-menu__link {
        display: block;
        font-weight: 500;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 16px;
        /* padding: 0; */
        color: #000000;
        text-decoration: none;
        position: relative;
        text-align: center;
    }
}

.main-menu__item.active:before {
    position: absolute;
    bottom: 0;
    content: "";
    width: calc(100% - 4px);
    left: 2px;
    height: 2px;
    background: rgba(67, 164, 255, 1);
}

@media (max-width: 1279px) {
    .main-menu__item.active:before {
        display: none;
    }
}


/* cta */

.cta {
    padding: 0 12px;
}

.cta a {
    display: block;
    text-align: center;
}

.clearfix {
    /* To cancel the float action, the clear property must be added to the element that follows the float element. */
    display: table;
    clear: both;
}


/* main content */

.main__container {
    padding: 8px 12px;
}

.header__container {
    max-width: 1260px;
    /* Since IE 7, the max-width property works. */
}

.main-menu {
    list-style: none;
}


/*
  Starting from IE 9, media queries works. This means that we can make a mobile version for the menu.
*/

.header__container {
    position: relative;
    /* background-color: #ffffff; */
    /* Problem for IE 5. */
}

.burger {
    display: none;
}

@media (max-width: 1279px) {
    .header__logo {
        float: none;
    }
    .header__dropdown-container {
        margin: 0;
        float: none;
    }
    .main-menu__item {
        display: block;
    }
    .header__phone-block {
        float: none;
    }
    .header__phone-block a {
        float: none;
        padding: 12px;
    }
    .header__cta {
        padding: 12px;
    }
    .header__cta {
        float: none;
    }
    .header__main-menu-container {
        padding-top: 63px;
        margin: 0;
        float: none;
    }
    .js .burger {
        position: absolute;
        top: 21px;
        left: 8px;
        display: block;
        padding: 8px;
        z-index: 1;
    }
    .js .burger button {
        display: block;
        width: 42px;
        height: 42px;
        padding: 8px;
        border: 0;
        /* background-color: transparent; */
    }
    .js .header__dropdown-container {
        display: none;
    }
    .js .header__dropdown-container--opened {
        position: absolute;
        top: 0;
        /* top: 33px; */
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(36px);
        -webkit-backdrop-filter: blur(36px);
        box-shadow: 0px 10px 10px rgb(49, 49, 49, 40%);
    }
}

@media(max-width: 599px) {
    .header__container {
        padding: 8px;
    }
    .logo a {
        padding: 8px;
    }
}


/*
    Since IE 11, flex works (without prefixes). Now it is easier for us to line up and center the elements in the container and do not need to artificially control the height of the header.
*/

@supports (display: flex) {
    .header {
        display: flex;
        align-items: center;
    }
    .header__container {
        width: 100%;
    }
    .clearfix {
        display: none;
    }
    .header__container {
        display: flex;
        align-items: center;
    }
    .header__logo {
        margin-right: auto;
    }
    .header__dropdown-container {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-menu {
        padding: 0;
        display: flex;
    }
    .main-menu__item {
        display: block;
        padding: 0;
    }
    .main-menu__link {
        display: block;
        padding: 3px 0;
    }
    @media (max-width: 1279px) {
        .header__container {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .header__dropdown-container {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
        }
        .burger {
            display: none;
        }
        .js .burger {
            position: relative;
            top: 0;
            left: 0;
            display: block;
            box-sizing: border-box;
            padding: 0;
        }
        .main-menu {
            flex-direction: column;
        }
        .cta {
            display: flex;
        }
        .cta a {
            display: inline-block;
        }
    }
    @media (max-width: 599px) {
        .main-menu__link {
            padding: 8px;
        }
    }
}


/* 
    In most browsers (not IE) the "position: sticky" property works. Its advantage over "position: fixed" in that it takes place in the document and header does not overlap other elements.
*/

.scaleble-header {
    position: -webkit-sticky;
    /* Safari. */
    position: sticky;
    z-index: 10;
    top: 0;
    /* background-color: #ffffff; */
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(36px);
    -webkit-backdrop-filter: blur(36px);
}


/* .scaleble-header--shadow {
    box-shadow: 0px 2px 10px rgb(49 49 49 / 40%);
} */

.scaleble-header .header__logo {
    flex-shrink: 0;
    width: 36px;
    height: 56px;
    display: flex;
    align-items: center;
}

@media (max-width: 1279px) {
    .scaleble-header .header__logo {
        width: 190px;
        height: 52px;
    }
    .scaleble-header .header__dropdown-burger {
        position: absolute;
        top: 50%;
        left: auto;
        right: 3px;
        width: 42px;
        height: 42px;
        transform: translateY(-50%);
        z-index: 9999;
    }
    .scaleble-header .header__dropdown-burger--close {
        position: absolute;
        top: 0%;
        transform: translateY(0%);
        left: auto;
        right: 3px;
        width: 42px;
        height: 42px;
    }
    .scaleble-header .header__dropdown-burger button {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.scaleble-header .header__logo a img {
    max-width: 100%;
    height: auto;
}


/* Styling the header */

.header {
    border: none;
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(36px);
    -webkit-backdrop-filter: blur(36px);
    z-index: 2;
}

.header__logo {
    margin-right: auto;
}

.header__main-menu-container {
    width: 100%;
}

.main-menu {
    justify-content: space-between;
}

.header__main-menu-container {
    margin-right: auto;
}

.main-menu__item {
    /* margin-right: auto; */
}

.main-menu__item:nth-last-child(1) {
    margin-right: 0;
}

.main-menu__link {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 34px;
    padding: 0 4px;
    color: #000000;
    text-decoration: none;
    position: relative;
}

.main-menu__link:hover {
    background: rgba(67, 164, 255, 0.08)
}

.main-menu__link:focus {
    background: rgba(67, 164, 255, 0.16);
}

.main-menu__link:active {
    color: #000000;
}

@media (max-width: 1279px) {
    .main-menu__link {
        font-size: 16px;
        padding: 11px 12px;
    }
}

.main-menu__link--current b {
    font-weight: inherit;
    color: inherit;
}


/* Fix for dropdown menu: if devices screen is too small, and we have a sticky header, there will be no way to scroll through the menu. Therefore, it need to add the overflow property (height we calc with js). */

.sticky-header .header__dropdown-container--opened {
    overflow-y: auto;
}


/* Banner */


/* .banner {
    overflow: hidden;
} */

.banner__inner {
    max-width: 1248px;
    margin: 0 auto;
}

.banner__image-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: stretch;
}

@media (max-width: 767px) {
    .banner__image-container {
        flex-direction: column;
    }
}

.banner__image {
    width: 40%;
}

@media (max-width: 767px) {
    .banner__image {
        width: 100%;
    }
}

.banner__image-wrap {
    z-index: -1;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__image-wrap:before {
    content: "";
    width: 980px;
    height: 980px;
    display: block;
    background: red;
    opacity: 0.4;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

@media (max-width: 767px) {
    .banner__image-wrap:before {
        width: 650px;
        height: 650px;
    }
}

.banner__image-wrap--blue:before {
    background: radial-gradient(50% 50% at 50% 50%, #43A4FF 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.3;
}

.banner__image-wrap--green:before {
    background: radial-gradient(50% 50% at 50% 50%, #43FF56 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.2;
}

@media (max-width: 767px) {
    .banner__image-wrap--green:before {
        background: radial-gradient(50% 50% at 50% 50%, #43FF56 0%, rgba(255, 255, 255, 0) 100%);
        opacity: 0.2;
        width: 530px;
        height: 530px;
    }
}

.banner__image-wrap--yellow:before {
    background: radial-gradient(50% 50% at 50% 50%, #FFB443 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.2;
}

@media (max-width: 767px) {
    .banner__image-wrap--yellow:before {
        background: radial-gradient(50% 50% at 50% 50%, #FFB443 0%, rgba(255, 255, 255, 0) 100%);
        opacity: 0.2;
        width: 530px;
        height: 530px;
    }
}

@media (max-width: 767px) {
    .banner__image-wrap--green:before {
        background: radial-gradient(50% 50% at 50% 50%, #43FF56 0%, rgba(255, 255, 255, 0) 100%);
        opacity: 0.2;
        width: 530px;
        height: 530px;
    }
}

.banner__image-img {
    max-width: 100%;
}

@media (max-width: 767px) {
    .banner__image-img {
        padding: 12px 40px;
        box-sizing: border-box;
    }
}

.banner__content {
    width: 54%;
    margin: 224px 0 196px;
    /* margin-top: clamp(24px, calc(13.6vw), 242px);
    margin-bottom: clamp(24px, calc(13.6vw - 4px), 242px); */
}

@media (max-width: 767px) {
    .banner__content {
        width: 100%;
        margin: 27px 0;
    }
}

.banner__content h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 56px;
    color: #000000;
}

@media (max-width: 767px) {
    .banner__content h2 {
        font-size: 48px;
        line-height: 56px;
        text-align: left;
        color: #000000;
    }
}

@media (max-width: 599px) {
    .banner__content h2 {
        padding: 8px 16px;
        text-align: center;
    }
}

.sub-disc {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    color: #000000;
}

@media (max-width: 767px) {
    .sub-disc {
        margin-top: 9px;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #333333;
        padding: 8px 33px;
    }
}

.banner__content h2 span {
    color: #43A4FF;
}

.banner__lead {
    font-size: 30px;
    font-weight: 200;
    color: #FFFFFF;
}

@media (max-width: 1279px) {
    .banner__lead {
        font-size: min(4vw, 30px);
        font-size: clamp(16px, 4vw, 24px);
    }
}

@media (max-width: 599px) {
    .banner__lead {
        color: #FFFFFF;
    }
}


/*banner__next*/

@media (max-width: 767px) {
    .banner__next .banner__image-container {
        flex-direction: column-reverse;
    }
}

.banner__next .banner__content {
    margin-top: clamp(24px, calc(13.6vw), 140px);
    margin-bottom: clamp(24px, calc(13.6vw - 4px), 140px);
    width: 50%;
}

@media (max-width: 767px) {
    .banner__next .banner__content {
        margin-top: 12px;
        margin-bottom: 24px;
        width: 100%;
    }
}

.banner__next .banner__content h2 {
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    margin-bottom: 2px;
}

@media (max-width: 599px) {
    .banner__next .banner__content h2 {
        padding: 8px 16px;
    }
}

.banner__next .banner__image {
    width: 50%;
}

@media (max-width: 767px) {
    .banner__next .banner__image {
        width: 100%;
    }
}


/* .banner__image-img {
    left: calc(50% + 41px);
    z-index: 1;
    position: absolute;
    top: calc(50% + 3px);
    transform: translate(-50%, -50%);
    pointer-events: none;
} */

@media (max-width: 767px) {
    .banner__next .banner__content h2 {
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 56px;
        color: #000000;
        text-align: left;
        margin-bottom: 2px;
    }
}

.banner__next .banner__content p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    opacity: 0.7;
    max-width: 600px;
    padding: 10px 16px;
}


/*END banner__next*/


/*banner__safety*/

.banner__safety .banner__content {
    margin-top: clamp(24px, calc(13.6vw), 78px);
    margin-bottom: clamp(24px, calc(13.6vw - 4px), 78px);
    width: 50%;
}

.banner__safety .banner__image {
    width: 50%;
}

@media (max-width: 767px) {
    .banner__safety .banner__image {
        width: 100%;
    }
}

.banner__safety .banner__image-img {
    left: calc(50% - 43px);
    z-index: 1;
    position: absolute;
    top: calc(50% + 19px);
    transform: translate(-50%, -50%);
    pointer-events: none;
}

@media (max-width: 767px) {
    .banner__safety .banner__image-img {
        left: 0;
        z-index: 1;
        position: relative;
        top: 0;
        transform: translate(0, 0);
        pointer-events: none;
    }
    .banner__safety .banner__image-container {
        flex-direction: column;
    }
    .banner__safety .banner__content {
        width: 100%;
    }
}

.banner__safety .banner__content h2 {
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    margin-bottom: 2px;
}

@media (max-width: 767px) {
    .banner__safety .banner__content h2 {
        text-align: left;
    }
}

@media (max-width: 599px) {
    .banner__safety .banner__content h2 {
        font-size: 40px;
        line-height: 56px;
    }
}

.banner__safety .banner__content p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    opacity: 0.7;
    max-width: 600px;
    padding: 11px 16px;
}

.banner__safety p.banner__safety--small {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    padding-top: 8px;
}

.banner__safety--small span {
    font-weight: 500;
}

.banner__safety .banner__content p span {
    display: block;
    font-weight: 500;
}


/*END banner__safety*/


/*calculator__container*/

.calculator {
    padding-top: 31px;
}

.calculator h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
}

.calculator p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 7px 16px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
    max-width: 695px;
    margin: 0 auto;
}

.calculator h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    max-width: 688px;
    margin: 0 auto;
}

.calculator__container {
    color: #fff;
    max-width: 1224px;
    margin: 0 auto;
    padding: 12px 0;
}

.calculator__inner {
    padding: 29px 16px 50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background: radial-gradient(53.59% 116.31% at 107.31% -16.31%, rgba(67, 164, 255, 0.3) 0%, rgba(67, 164, 255, 0) 100%), #3F3F3F;
    border-radius: 14px;
}

.mdc-slider__wrap {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

.earnings__wrap {
    text-align: center;
    padding: 12px 0 11px;
}

.earnings__wrap h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
}

.earnings__wrap h4 span {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.earnings__sub {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
    padding: 10px;
}

.calculator__btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*END calculator__container*/


/*questions*/


/* .questions {
    padding-top: 442px;
} */

.questions__container {
    max-width: 1224px;
    margin: 0 auto;
    padding: 12px;
}

.questions__inner {
    padding: 26px 0px;
}

.questions h2 {
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 56px;
    text-align: center;
    color: #000000;
}

.questions .dimensional-container {
    justify-content: center;
    padding-top: 13px;
    margin: 0 -12px;
}


/*END questions*/

.banner__services {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    list-style: none;
}

.banner__services li {
    display: flex;
    width: 25%;
}

@media (max-width: 1279px) {
    .banner__services li {
        width: 50%;
    }
}

@media (max-width: 599px) {
    .banner__services li {
        width: 100%;
    }
}

.customers__inner {
    background-color: #fafafa;
}

.customer__cards {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 12px;
}

.customer__card {
    margin-right: 30px;
}

.customer__card:nth-last-child(1) {
    margin-right: 0;
}

@media (max-width: 1279px) {
    .customer__cards {
        flex-direction: column;
    }
    .customer__card {
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .customer__card:nth-last-child(1) {
        margin: 0 auto;
        margin-bottom: 0;
    }
}

@media (max-width: 599px) {
    .customer__cards {
        padding: 0 8px;
    }
}

.four-steps__title {
    text-align: center;
}

.footer {
    padding-top: 29px;
    background: #F5F5F5;
}

.footer__container.flex {
    max-width: 1224px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@media (max-width: 599px) {
    .footer__container.flex {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.footer__item {
    width: 33.3333%;
}

@media (max-width: 599px) {
    .footer__item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.footer__logo {
    float: left;
}

.footer .main-menu {
    flex-direction: column;
    line-height: 32px;
}

@media (max-width: 599px) {
    .footer .main-menu {
        flex-direction: column;
        align-items: center;
    }
}

.footer__copyright {
    box-sizing: border-box;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
    padding: 43px 10px;
}

@media (max-width: 599px) {
    .footer__copyright {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 32px;
        text-align: center;
        color: #333333;
        padding: 32px 10px;
    }
}


/* About company */

.page__layout-container {
    display: flex;
}

.page__layout-container .page__main {
    box-sizing: border-box;
    width: 66.66%;
}

.page__layout-container .page__aside {
    box-sizing: border-box;
    width: 33.33%;
    padding: 12px;
}

@media(max-width: 599px) {
    .page__layout-container {
        flex-direction: column;
    }
    .page__layout-container .page__main,
    .page__layout-container .page__aside {
        width: 100%;
    }
}

.aside--sticky {
    position: sticky;
}

.aside__inner {
    width: 100%;
    background-color: #292734;
}

.aside__block {
    padding: 0 36px;
}

.aside__inner h3 {
    padding: 12px;
    font-size: 1.375em;
    font-weight: 500;
    font-style: normal;
    line-height: 1.1em;
    color: #FFFFFF;
}


/* Contacts */

.contact-form {
    max-width: 840px;
    margin: 0 auto;
}

.contact-form__inner {
    display: flex;
    flex-wrap: wrap;
}

.contact-form__field-container {
    box-sizing: border-box;
    width: 33.3%;
}

.contact-form__field-container--full {
    width: 100%;
}

.contact-form__field-container--centered {
    text-align: center;
}

@media (max-width: 599px) {
    .contact-form__field-container {
        width: 100%;
    }
}


/* tabs */

.b-tab {
    display: none;
    /* min-height: 416px; */
}

.b-tab.active {
    display: block;
}

.b-nav-tab {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 41px;
    color: #4F4F4F;
    padding: 11px 0px 10px;
    margin-bottom: 19px;
    text-transform: capitalize;
}

.b-nav-tab.active {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 42px;
    color: #000000;
}

.b-nav-tab.active img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.tabs__wrap {
    max-width: 1016px;
    margin: 0 auto;
    display: block;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.tabs__links {
    max-width: 240px;
    width: 100%;
    flex: 1;
}

.tabs__context {
    padding-left: 72px;
    /* min-height: 416px; */
    flex: 1;
}

.tabs__title {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
    color: #000000;
}

.tabs__p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    padding: 16px 0 8px;
}

.tabs__p span {
    font-weight: bold;
    display: block;
}

.button-img img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.tabs__context--mob {
    padding: 0;
}

.tabs__links--mob {
    max-width: 328px;
}

.select2-selection__clear {
    display: none;
}

.select2-container {
    width: 240px;
}

.select2-container .select2-selection--single {
    height: auto;
}

.select2-container--default .select2-selection--single {
    background: #FFFFFF;
    border: 1px solid #43A4FF;
    box-sizing: border-box;
    border-radius: 6px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 48px;
}

.select2-selection__rendered span {
    width: 100%;
    height: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 41px;
    color: #000000;
    padding: 11px 0px 10px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.select2-selection__rendered span .clip {
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
}

.select2-selection__rendered span img {
    padding: 0 23px;
}

.select2-dropdown {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.select2-results__option {
    padding: 0;
    text-transform: capitalize;
    /* padding: 8px 0; */
}

.select2-results__option span {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.select2-results__option span img {
    padding: 0 23px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: rgba(67, 164, 255, 0.08);
    color: #4F4F4F;
}

.select2-container--default .select2-results__option--selected {
    display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translate( 0, -50%);
    right: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    width: 24px;
    height: 24px;
    background: url(../img/arrow-down.svg) no-repeat center/contain;
    border: none;
    left: 0;
    margin-left: 0;
    position: absolute;
    top: 3px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    transform: rotate( 180deg);
}


/*page how*/

.how {
    overflow: hidden;
    position: relative;
}

.how__inner {
    overflow: hidden;
}

.top_bg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%) scale(0.8);
    top: -648px;
    width: 980px;
    height: 980px;
    background: radial-gradient(50% 50% at 50% 50%, #43A4FF 0%, rgba(255, 255, 255, 0) 100%);
    /* background: url(../img/how-2.png) no-repeat center/contain; */
    opacity: 0.4;
    z-index: -1;
}

@media (max-width: 1024px) {
    .top_bg {
        width: 100%;
        height: 980px;
    }
}

@media (max-width: 767px) {
    .top_bg {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        top: -250px;
        width: 439px;
        height: 439px;
        background: radial-gradient(50% 50% at 50% 50%, #43A4FF 0%, rgba(255, 255, 255, 0) 100%);
        opacity: 0.4;
    }
}

.how-item__img {
    min-height: 220px;
}

@media (max-width: 767px) {
    .how-item__img {
        max-width: 200px;
        min-height: 222px;
    }
}

.how-item__img-wrap {
    z-index: -1;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.how-item__img-wrap img {
    width: 100%;
    height: auto;
}

.how-item__img-wrap:before {
    content: "";
    width: 405px;
    height: 405px;
    display: block;
    background: radial-gradient(50% 50% at 50% 50%, #43A4FF 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.2;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.page__how h2 {
    text-align: center;
}

@media (max-width: 767px) {
    .page__how h2 {
        font-size: 40px;
        line-height: 56px;
    }
}

.how-start {
    padding-top: 40px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;
    text-align: center;
    color: #000000;
}

@media (max-width: 767px) {
    .how-start {
        padding-top: 0px;
    }
}

.how .button.button--blue {
    margin: 0 auto;
}

.how-item {
    position: relative;
}

.how-container {
    max-width: 1028px;
    padding: 12px 27px;
    margin: 0 auto;
}

@media (max-width: 599px) {
    .how-container {
        padding: 12px 8px;
    }
}

.how-items {
    padding: 129px 0 0;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .how-items {
        flex-direction: column;
        align-items: center;
        padding: 50px 8px 0;
    }
}

.how-card:before {
    position: absolute;
    top: -23px;
    left: -19px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #43A4FF;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 767px) {
    .how-card:before {
        top: -27px;
        left: -33px;
        width: 65px;
        height: 65px;
        font-size: 24px;
        line-height: 64px;
    }
}

.how-card-1:before {
    content: "1";
}

.how-card-2:before {
    content: "2";
}

@media (max-width: 767px) {
    .how-card-2:before {
        top: -27px;
        left: -17px;
    }
}

.how-card-3:before {
    content: "3";
}

@media (max-width: 767px) {
    .how-card-3:before {
        top: -22px;
        left: -17px;
    }
}

.wrap-arrow {
    top: calc(50% - 54px);
    transform: translate( 0, -50%);
    position: relative;
}

@media (max-width: 767px) {
    .wrap-arrow {
        display: none;
    }
}

.wrap-arrow img {
    width: 100%;
    height: auto;
}

.how-card-1:last-child:after {
    display: none;
}

.how-card {
    width: 100%;
    max-width: 232px;
}

@media (max-width: 767px) {
    .how-card {
        padding-bottom: 69px;
    }
}

.how-item__link {
    text-align: center;
    padding: 7px 10px 0;
}

@media (max-width: 767px) {
    .how-item__link {
        text-align: center;
        padding: 3px 10px 0;
    }
}

.how-item__link .link {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration-line: underline;
    color: #43A4FF;
}

.how-item__p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    padding: 7px 0px;
}

@media (max-width: 767px) {
    .how-item__p {
        padding: 1px 0px;
    }
}


/*useCases */

section.useCases {
    padding-top: 85px;
    padding-bottom: 0;
}

@media (max-width: 767px) {
    section.useCases {
        padding-top: 89px;
    }
}

.useCases__blue-card {
    background: #F4FAFF;
    border-radius: 14px;
    padding-bottom: 111px;
}

@media (max-width: 767px) {
    .useCases__blue-card {
        padding-right: 8px;
        padding-left: 8px;
        padding-bottom: 30px;
    }
}

.useCases__container {
    max-width: 1248px;
    margin: 0 auto;
}

.useCases h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    padding-bottom: 8px;
}

@media (max-width: 767px) {
    .useCases h3 {
        padding-bottom: 8px;
    }
}

.tabs__wrap {
    padding: 36px 12px 0;
}

.useCases__p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #333333;
    max-width: 860px;
    margin: 0 auto;
}


/*factors */

section.factors {
    padding-top: 44px;
    padding-bottom: 64px;
}

.factors__blue-card {
    background: #F4FAFF;
    border-radius: 14px;
}

.factors__container {
    max-width: 1248px;
    margin: 0 auto;
    padding-right: 8px;
    padding-left: 8px;
}

.factors h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    padding-bottom: 8px;
}

.factors h3 span {
    color: #43A4FF;
}

.tabs__wrap {
    padding-top: 36px;
}

.factors__p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #333333;
    max-width: 860px;
    margin: 0 auto;
    padding: 7px 8px;
}

.factors__tree-items {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0;
    padding-top: 33px;
}

@media (max-width: 767px) {
    .factors__tree-items {
        flex-direction: column;
    }
}

.factors__tree-item {
    margin: 0 40px;
    flex: 1;
}

@media (max-width: 991px) {
    .factors__tree-item {
        margin: 0 8px;
        flex: 1;
    }
}

@media (max-width: 767px) {
    .factors__tree-item {
        margin: 0;
    }
}

@media (max-width: 991px) {
    .factors_card {
        padding-bottom: 40px;
    }
}

.factors__title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    padding: 25px 10px 8px;
}

@media (max-width: 599px) {
    .factors__title {
        padding: 25px 8px 8px;
    }
}

.factors__p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.factors__img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.factors__inner_p {
    padding: 7px 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.factors-start {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;
    text-align: center;
    color: #000000;
    padding: 17px 12px;
}

.factors .button--blue {
    margin: 0 auto;
}

.tabs__wrap--mob {
    display: none;
    padding: 36px 8px 0;
}

.tabs__links--mob {
    max-width: 100%;
}

@media (max-width: 767px) {
    .tabs__wrap {
        display: none;
    }
    .tabs__wrap--mob {
        display: block;
    }
}


/* page safety*/

.safety {
    /* overflow: hidden; */
    position: relative;
}

.safety-container {
    max-width: 1028px;
    padding: 12px 27px;
    margin: 0 auto;
}

.safety__inner {
    overflow: hidden;
}

.safety h2,
.safety h3 {
    text-align: center;
}

.safety h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #000000;
}

.safety__p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #333333;
    max-width: 810px;
    margin: 0 auto;
    padding: 8px 16px;
}

.useCases__items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.useCases__item {
    flex: 1;
}

.safety__blue-card {
    background: #F4FAFF;
    border-radius: 14px;
    padding-top: 59px;
    padding-bottom: 59px;
}

.safety__blue-card h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 44px;
    text-align: left;
    color: #000000;
}

.safety__blue-card .safety__p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    text-align: left;
    margin-right: 100px;
}

.useCases__img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.сomplete {
    padding-top: 178px;
}

.сomplete__container {
    max-width: 1258px;
    margin: 0 auto;
}

.сomplete h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 44px;
    color: #000000;
}

.сomplete h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.сomplete h4 span {
    color: #43A4FF;
}

.сomplete__p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.сomplete__ul {
    list-style: none;
    padding: 16px;
}

.сomplete__ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.сomplete__text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.сomplete__text--p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 0 12px 0 16px;
}

@media (max-width: 767px) {
    .сomplete__text--p {
        padding: 0 0 0 16px;
    }
}

.info-inline {
    display: inline-block;
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background: #F4FAFF;
    border-radius: 8px;
}

.сomplete__items {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.button--center {
    margin: 0 auto;
}

.сomplete__item {
    flex: 1;
}

.wrap__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 0;
    width: 100%;
}

.сomplete__item h3 {
    padding-top: 40px;
    padding-bottom: 3px;
}

.complete__wrap-ul {
    max-width: 470px;
    margin: 0 auto;
    padding-left: 40px;
}

.сomplete__ul li:last-child {
    margin-bottom: 0;
}

.tippy-box {
    background: #000000;
    border-radius: 6px;
    padding: 6px;
    max-width: 300px !important;
}

.tippy-content {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}

.line-blue {
    position: relative;
    width: 100%;
    height: 2px;
    background: #43A4FF;
    max-width: 152px;
    margin: 17px auto;
}


/* page_download */

.downloads {
    padding-top: 34px;
}

.downloads__container {
    max-width: 820px;
    padding: 12px 16px;
    margin: 0 auto;
    box-sizing: border-box;
}

.downloads__items {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.downloads_wrap-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 53px;
    min-height: 157px;
}

.downloads__item {
    display: flex;
}

.downloads__item h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #000000;
}

@media (max-width: 767px) {
    .downloads__item h4 {
        transform: translate(0px, -15px);
    }
    .safety__inner .questions__inner.questions__inner--download {
        padding: 17px 0px;
    }
}

.downloads__item:nth-child(1) {
    align-items: flex-start;
}

.downloads__item:nth-child(2) {
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.downloads__item:nth-child(3) {
    align-items: flex-end;
}

.downloads__card {
    width: 328px;
    height: 100%;
    min-height: 328px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

@media (max-width: 767px) {
    .downloads__card {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        width: 100%;
        max-width: 328px;
        height: 100%;
        padding: 0 16px;
    }
}

.downloads__card h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 55px;
    text-align: center;
    color: #000000;
    padding: 0px 16px;
}

.downloads .wrap__button {
    padding: 23px 0 6px;
}

.after-desc {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #747474;
    max-width: 285px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.or {
    position: relative;
}

.or:before {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 74px;
    background: #DBDBDB;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

.or:after {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 74px;
    background: #DBDBDB;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

.or__p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    opacity: 0.6;
}


/*accordion*/

.wrap-accordion {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 0;
    max-width: 808px;
    margin: 3px auto 24px;
}

.accordion {
    cursor: pointer;
    padding: 24px 32px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.5s;
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    box-sizing: border-box;
}

.panel:last-child {
    border-bottom: 0;
}

.accordion.active,
.accordion:hover {
    background-color: #fff;
}

.accordion.active.accordion img {
    transform: rotate(180deg);
}

.panel {
    width: calc(100% - 32px);
    padding: 0 16px;
    color: #212121;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    border-bottom: 1px solid#DEDEDE;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.panel p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.wrap-dropdown {
    display: inline-block;
    float: right;
}

@media (max-width: 767px) {
    .safety__blue-card .safety__p {
        margin-right: 0px;
    }
    .safety .spacer--20 {
        display: none;
    }
    .сomplete {
        padding-top: 58px;
    }
    .сomplete__items {
        flex-direction: column;
        padding: 8px;
    }
    .сomplete__item h3 {
        text-align: left;
        padding-bottom: 10px;
    }
    .downloads__items {
        flex-direction: column;
        align-items: stretch;
    }
    .downloads__item {
        justify-content: center;
    }
    .or__p {
        margin-top: 16px;
        margin-bottom: 16px;
        padding: 0;
    }
    .or:before {
        position: absolute;
        display: block;
        content: "";
        width: 74px;
        height: 1px;
        background: #DBDBDB;
        bottom: auto;
        left: auto;
        right: 100%;
        top: 50%;
        transform: translate(-20px, -50%);
    }
    .or:after {
        position: absolute;
        display: block;
        content: "";
        width: 74px;
        height: 1px;
        background: #DBDBDB;
        top: 50%;
        left: 100%;
        transform: translate(20px, -50%);
    }
    .safety__inner .questions__inner {
        padding: 58px 0px;
    }
    .safety__inner .questions .dimensional-container {
        justify-content: center;
        padding-top: 7px;
        margin: 0 -12px;
    }
    .wrap-accordion {
        padding: 3px 0 67px;
    }
    .wrap-dropdown {
        display: inline-block;
        float: none;
        position: absolute;
        top: 25px;
        right: 30px;
    }
    .accordion {
        padding: 24px 64px 24px 32px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .panel p {
        padding: 0;
    }
    .logo a {
        line-height: 32px;
    }
    .complete__wrap-ul {
        padding-left: 0px;
    }
}

@media (max-width: 599px) {
    h2 {
        font-size: 2.109em;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 56px;
        text-align: center;
        color: #000000;
    }
    h3 {
        font-size: 2.109em;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        color: #000000;
    }
    .safety-container {
        padding: 12px 8px;
    }
    .line-blue {
        margin: 25px auto;
    }
    .safety__p {
        padding: 12px 8px;
    }
    .useCases__items {
        flex-direction: column-reverse;
        align-items: center;
    }
    .useCases__items {
        padding: 0 8px;
    }
    .safety__blue-card {
        padding-top: 0;
    }
    .useCases__img img {
        width: 100%;
        max-width: 260px;
    }
    .useCases__img {
        padding-top: 54px;
        padding-right: 8px;
        padding-left: 8px;
    }
    .complete__wrap-ul {
        padding-top: 26px;
    }
    .сomplete__ul {
        padding: 21px 8px;
    }
    .сomplete__ul li {
        margin-bottom: 26px;
    }
    .сomplete .dimensional-container {
        align-items: flex-start;
    }
    .сomplete .spacer--70 {
        padding: 12px 0;
    }
    .factors-start {
        line-height: 36px !important;
        padding: 20px 8px 26px;
    }
    .accordion {
        padding: 20px 32px 20px 16px;
    }
    .wrap-dropdown {
        right: 0;
    }
}